{% extends 'main/base.html' %}

{% block content %}
    {% if basket_items %}
    <h2 class="basket-header">Корзина</h2>
       {% for item in basket_items %}
    <div class="basket_list">
        <div class="basket-product-info">
            <img src="/media/{{ item.product.product_image }}" alt="{{ item.product.short_desc }}">
            <p class="product_title">{{ item.product.name }}</p><br>
            <span class="product_price">Цена за 1 шт: <span class="formatted-price">{{ item.product.price }}</span></span><br>
            Количество:
            <input type="number" name="{{ item.pk }}" min="0" max="99" value="{{ item.quantity }}" class="basket-input"><br>
            <span class="product_cost">Всего на сумму: <span class="formatted-price">{{ item.product_cost }}</span></span><br>
        </div>
        <button class="btn btn-round">
            <a href="{% url 'basket:remove' item.pk %}" class="">Удалить</a>
        </button>
    </div>
    {% endfor %}
    {% else %}
        <h2 class="basket-header">Ваша корзина пуста</h2>
    {% endif %}
{% endblock %}