  body { background: url("https://img4.goodfon.ru/original/1920x1080/c/43/les-tuman-derevia-vysota-el-khvoinyi-les.jpg");
  background-size: cover;
  }
  a, h2, p, text {color: white; }

  .cover-heading {margin-top: 25%;}