{% extends 'main/base.html'%}

{% block title%}
Коллекция
{% endblock %}

{% block content%}

<body>
<br><br><br><h2>Коллекция</h2><br><br>
    <div class="collection">
        {% if products %}
            {%for product in products%}
                <img src="{{ product.product_image.url }}" alt="No picture" width="18%"><br>
                {{ product.name }}<br>
                {{ product.description }} <br>
                Цена: {{ product.price }} <br>
                <br>
            {%endfor%}
        {% else %} Товары не загружены
        {% endif %}
    </div>
</body>

{% endblock %}