{% extends 'main/base.html'%}

{% block title%}
Коллекция
{% endblock %}

{% block content%}

<body class="h-100 text-center text-white bg-dark">
    <br><br><br><h2>Коллекция</h2><br><br>
    {% if products %}
        {%for product in products%}
            Name: {{ product.name }}<br>
            Image:  {{ product.product_image }} <img src="{{ product.product_image }}" alt=""><br>
            Description: {{ product.description }} <br>
            Price: {{ product.price }} <br>
            <br>
        {%endfor%}
    {% else %} Товары не загружены
    {% endif %}
</body>

{% endblock %}